# Notes:
# All differential pair inputs require DIFF_TERM = TRUE.
#CLOCKS and CLOCKENs
NET "LOCAL_CLK" LOC = "D20" | IOSTANDARD = LVCMOS25;
NET "LOCAL_OSC_EN" LOC = "E20" | IOSTANDARD = LVCMOS25;


#TURF_derived clock for LABs
NET "FPGA_TURF_SST_N" LOC = "AB20" | IOSTANDARD = LVDS_25   | diff_term=true;
NET "FPGA_TURF_SST_P" LOC = "AA20" | IOSTANDARD = LVDS_25   | diff_term=true;


# External trigger - externally 50 ohm terminated - 2.5V bank
# Actually 100 ohm terminated.
NET "EXT_TRIG" LOC = "P8" | IOSTANDARD = LVCMOS25;

#Front Panel LED
NET "FP_LED" LOC = "G5" | IOSTANDARD = LVCMOS25;

# SPI flash
NET "SPI_CS_neg" LOC = "P18" | IOSTANDARD = LVCMOS25;
NET "SPI_CS_neg_alt" LOC = "T17" | IOSTANDARD = LVCMOS25;
NET "SPI_D0_MOSI" LOC = "R14" | IOSTANDARD = LVCMOS25;
NET "SPI_D1_MISO" LOC = "R15" | IOSTANDARD = LVCMOS25;
NET "SPI_D2" LOC = "P14" | IOSTANDARD = LVCMOS25;
NET "SPI_D3" LOC = "N14" | IOSTANDARD = LVCMOS25;

# FPGA_SST_P/FPGA_SST_N are outputs from the FPGA to the
# CDCLVD1212 clock fanout, for use when a TURF is not
# present (or some other problem). To use this clock at the
# LAB4s, FPGA_SST_SEL must be 0.
NET "FPGA_SST_N" LOC = "AC21" | IOSTANDARD = LVDS_25   ;
NET "FPGA_SST_P" LOC = "AB21" | IOSTANDARD = LVDS_25   ;
# If 1: LAB4 SST is TURF_SST_P/N.
# If 0: LAB4 SST is FPGA_SST_P/N.
# If Hi-Z: No LAB4 SST. Start up in Hi-Z!
NET "FPGA_SST_SEL" LOC = "R18" | IOSTANDARD = LVCMOS25;

#LEDs. Bidirs.
NET "LED<0>" LOC = "A20" | IOSTANDARD = LVCMOS25;
NET "LED<1>" LOC = "F20" | IOSTANDARD = LVCMOS25;
NET "LED<2>" LOC = "G19" | IOSTANDARD = LVCMOS25;
NET "LED<3>" LOC = "F19" | IOSTANDARD = LVCMOS25;


#MONITORING PINS
NET "MON0" LOC = "M15" | IOSTANDARD = LVCMOS25;
NET "MON1" LOC = "E18" | IOSTANDARD = LVCMOS25;
NET "MON2" LOC = "H17" | IOSTANDARD = LVCMOS25;
NET "MON3" LOC = "L14" | IOSTANDARD = LVCMOS25;
NET "MON4" LOC = "L15" | IOSTANDARD = LVCMOS25;

#PCI SIGNALS
NET "pci_ad<0>" LOC = "AE5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<1>" LOC = "AD5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<10>" LOC = "Y6" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<11>" LOC = "AC6" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<12>" LOC = "AB6" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<13>" LOC = "Y5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<14>" LOC = "AA5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<15>" LOC = "W6" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<16>" LOC = "V6" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<17>" LOC = "V7" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<18>" LOC = "W4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<19>" LOC = "AC3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<2>" LOC = "AD4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<20>" LOC = "AD1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<21>" LOC = "U7" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<22>" LOC = "AB1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<23>" LOC = "AB2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<24>" LOC = "Y3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<25>" LOC = "AA2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<26>" LOC = "AA3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<27>" LOC = "W1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<28>" LOC = "W3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<29>" LOC = "Y1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<3>" LOC = "AC4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<30>" LOC = "Y2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<31>" LOC = "V3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<4>" LOC = "AF5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<5>" LOC = "AA8" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<6>" LOC = "AD3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<7>" LOC = "AF4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<8>" LOC = "AA7" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_ad<9>" LOC = "Y8" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_cbe<0>" LOC = "Y7" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_cbe<1>" LOC = "AE3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_cbe<2>" LOC = "V4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_cbe<3>" LOC = "AC2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "PCI_CLK" LOC = "AA4" | IOSTANDARD = PCI33_3;
NET "pci_devsel" LOC = "AF2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_frame" LOC = "W8" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_gnt" LOC = "AB5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_idsel" LOC = "AC1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_inta" LOC = "V1" | IOSTANDARD = PCI33_3;
NET "pci_irdy" LOC = "W5" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_par" LOC = "AF3" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_perr" LOC = "AE2" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_req" LOC = "V9" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_rst" LOC = "V2" | IOSTANDARD = PCI33_3;
NET "pci_serr" LOC = "AB4" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_stop" LOC = "AE1" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;
NET "pci_trdy" LOC = "V8" | IOSTANDARD = PCI33_3 | TNM = PCI_GROUP;

TIMEGRP "PCI_GROUP" OFFSET = IN 7 ns BEFORE "pci_clk" RISING;
TIMEGRP "PCI_GROUP" OFFSET = OUT 11 ns AFTER "pci_clk" RISING;


# TD_N[7:0] are transmitting.
NET "TD_N<0>" LOC = "AE21" | IOSTANDARD = LVDS_25  ;
NET "TD_N<1>" LOC = "AF22" | IOSTANDARD = LVDS_25  ;
NET "TD_N<2>" LOC = "AF23" | IOSTANDARD = LVDS_25  ;
NET "TD_N<3>" LOC = "AC23" | IOSTANDARD = LVDS_25  ;
NET "TD_N<4>" LOC = "AD24" | IOSTANDARD = LVDS_25  ;
NET "TD_N<5>" LOC = "AF25" | IOSTANDARD = LVDS_25  ;
NET "TD_N<6>" LOC = "AE26" | IOSTANDARD = LVDS_25  ;
NET "TD_N<7>" LOC = "AD26" | IOSTANDARD = LVDS_25  ;
NET "TD_P<0>" LOC = "AD21" | IOSTANDARD = LVDS_25  ;
NET "TD_P<1>" LOC = "AE22" | IOSTANDARD = LVDS_25  ;
NET "TD_P<2>" LOC = "AE23" | IOSTANDARD = LVDS_25  ;
NET "TD_P<3>" LOC = "AC22" | IOSTANDARD = LVDS_25  ;
NET "TD_P<4>" LOC = "AD23" | IOSTANDARD = LVDS_25  ;
NET "TD_P<5>" LOC = "AF24" | IOSTANDARD = LVDS_25  ;
NET "TD_P<6>" LOC = "AE25" | IOSTANDARD = LVDS_25  ;
NET "TD_P<7>" LOC = "AD25" | IOSTANDARD = LVDS_25  ;
# Source-synchronous clock for TD_P/N[7:0];
NET "SCLK_N" LOC = "AF20"  | IOSTANDARD = LVDS_25;
NET "SCLK_P" LOC = "AF19"  | IOSTANDARD = LVDS_25;

# PPS inputs.
NET "PPS_N" LOC = "AE20" | IOSTANDARD = LVDS_25; 
NET "PPS_P" LOC = "AD20" | IOSTANDARD = LVDS_25;
# Buffer hold. Note that this is not a digitize request, which
# comes in over the data bus.
NET "HOLD<0>" LOC = "AA18" | IOSTANDARD = LVCMOS25; 
NET "HOLD<1>" LOC = "Y18" | IOSTANDARD = LVCMOS25;
NET "HOLD<2>" LOC = "Y17" | IOSTANDARD = LVCMOS25;
NET "HOLD<3>" LOC = "AA17" | IOSTANDARD = LVCMOS25;

# TCLK_P/N, and SREQ/TREQ 'somehow' become the TURF-to-SURF control data path.
# Probably TCLK_P/N will be a bus clock, and SREQ/TREQ will be single ended
# serial datapaths. 
NET "TCLK_N" LOC = "AD19"  | IOSTANDARD = LVDS_25   | diff_term=true; 
NET "TCLK_P" LOC = "AC19"  | IOSTANDARD = LVDS_25   | diff_term=true; 
NET "SREQ_neg" LOC = "AA19" | IOSTANDARD = LVCMOS25; #from TURF
NET "TREQ_neg" LOC = "AB19" | IOSTANDARD = LVCMOS25; #from TURF

# Leave off the MGT transceivers for now.
#NET "TMGT_CLK_N" LOC = "AB11" | IOSTANDARD = LVDS_25   | diff_term=true;
#NET "TMGT_CLK_P" LOC = "AA11" | IOSTANDARD = LVDS_25   | diff_term=true;
#NET "TMGT_TX_N" LOC = "AF9" | IOSTANDARD = LVDS_25  ; 
#NET "TMGT_TX_P" LOC = "AE9" | IOSTANDARD = LVDS_25  ; 
#NET "TMGT_RX_N" LOC = "AF13" | IOSTANDARD = LVDS_25  ; | diff_term=true;
#NET "TMGT_RX_P" LOC = "AE13" | IOSTANDARD = LVDS_25  ; | diff_term=true;
# If you uncomment this, it won't work, which is good, as I don't know yet.
#NET "TMGT_CLK_N" PERIOD = XXX ns;

NET "UC_SCL" LOC = "AD18" | IOSTANDARD = LVCMOS25;
NET "UC_SDA" LOC = "AE18" | IOSTANDARD = LVCMOS25;

NET "RFP_DAC_SCL" LOC = "H8" | IOSTANDARD = LVCMOS25;
NET "RFP_DAC_SDA" LOC = "H9" | IOSTANDARD = LVCMOS25;

NET "RFP_SCL<0>" LOC = "U5" | IOSTANDARD = LVCMOS25;
NET "RFP_SDA<0>" LOC = "U4" | IOSTANDARD = LVCMOS25;
NET "RFP_SCL<1>" LOC = "G7" | IOSTANDARD = LVCMOS25;
NET "RFP_SDA<1>" LOC = "F7" | IOSTANDARD = LVCMOS25;
NET "RFP_SCL<2>" LOC = "B26" | IOSTANDARD = LVCMOS25;
NET "RFP_SDA<2>" LOC = "C26" | IOSTANDARD = LVCMOS25;
NET "RFP_SCL<3>" LOC = "V18" | IOSTANDARD = LVCMOS25;
NET "RFP_SDA<3>" LOC = "V17" | IOSTANDARD = LVCMOS25;

NET "PCI_CLK" PERIOD = 30.303 ns; # PCI_CLK - f=33MHz
NET "LOCAL_CLK"  PERIOD = 40.0 ns | CLOCK_DEDICATED_ROUTE = "FALSE"; # Local clock - f=25MHz
NET "FPGA_TURF_SST_N"  PERIOD = 40.0 ns; # Clock for LABs - from TURF - f=25MHz

NET "wbc_clk" TNM_NET = "TN_WBC";
NET "sys_clk" TNM_NET = "TN_SYS";

TIMESPEC TS_FROM_WBC_TO_SYS = FROM TN_WBC TO TN_SYS 15 ns DATAPATHONLY;
TIMESPEC TS_FROM_SYS_TO_WBC = FROM TN_SYS TO TN_WBC 15 ns DATAPATHONLY;

#LAB4D stuff
#added 6-June 2016
NET "WCLK_N<11>" LOC="AC24" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<11>" LOC="AB24" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<11>" LOC="AA22" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<11>" LOC="AA23" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<11>" LOC="AB25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<11>" LOC="AA24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<11>" LOC="Y25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<11>" LOC="AA25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<11>" LOC="Y23" | IOSTANDARD = LVCMOS25; 
NET "PCLK<11>" LOC="V19" | IOSTANDARD = LVCMOS25; 
NET "SIN<11>" LOC="V22" | IOSTANDARD = LVCMOS25; 
NET "SCLK<11>" LOC="V21" | IOSTANDARD = LVCMOS25;  
NET "SS_INCR<11>" LOC="Y21" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<11>" LOC="Y22" | IOSTANDARD = LVCMOS25; 
NET "WR<59>" LOC="Y20" | IOSTANDARD = LVCMOS25; 
NET "WR<58>" LOC="W23" | IOSTANDARD = LVCMOS25; 
NET "WR<57>" LOC="W20" | IOSTANDARD = LVCMOS25; 
NET "WR<56>" LOC="W19" | IOSTANDARD = LVCMOS25; 
NET "WR<55>" LOC="W18" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<10>" LOC="W25" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<10>" LOC="Y26" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<10>" LOC="V24" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<10>" LOC="W24" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<10>" LOC="V26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<10>" LOC="W26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<10>" LOC="U26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<10>" LOC="U25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<10>" LOC="V16" | IOSTANDARD = LVCMOS25; 
NET "PCLK<10>" LOC="R22" | IOSTANDARD = LVCMOS25; 
NET "SCLK<10>" LOC="R21" | IOSTANDARD = LVCMOS25;  
NET "SIN<10>" LOC="T20" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<10>" LOC="U22" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<10>" LOC="U24" | IOSTANDARD = LVCMOS25; 
NET "WR<54>" LOC="U21" | IOSTANDARD = LVCMOS25; 
NET "WR<53>" LOC="U20" | IOSTANDARD = LVCMOS25; 
NET "WR<52>" LOC="U19" | IOSTANDARD = LVCMOS25; 
NET "WR<51>" LOC="U17" | IOSTANDARD = LVCMOS25; 
NET "WR<50>" LOC="T19" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<9>" LOC="R23" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<9>" LOC="T23" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<9>" LOC="P25" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<9>" LOC="R25" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<9>" LOC="P26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<9>" LOC="R26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<9>" LOC="P24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<9>" LOC="P23" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<9>" LOC="T22" | IOSTANDARD = LVCMOS25; 
NET "PCLK<9>" LOC="M22" | IOSTANDARD = LVCMOS25; 
NET "SCLK<9>" LOC="M20" | IOSTANDARD = LVCMOS25; 
NET "SIN<9>" LOC="M19" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<9>" LOC="P20" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<9>" LOC="P21" | IOSTANDARD = LVCMOS25; 
NET "WR<49>" LOC="R20" | IOSTANDARD = LVCMOS25; 
NET "WR<48>" LOC="N19" | IOSTANDARD = LVCMOS25; 
NET "WR<47>" LOC="N18" | IOSTANDARD = LVCMOS25; 
NET "WR<46>" LOC="N21" | IOSTANDARD = LVCMOS25; 
NET "WR<45>" LOC="N22" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<8>" LOC="N24" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<8>" LOC="N23" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<8>" LOC="L25" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<8>" LOC="L24" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<8>" LOC="M25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<8>" LOC="M24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<8>" LOC="K26" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<8>" LOC="K25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<8>" LOC="L23" | IOSTANDARD = LVCMOS25; 
NET "PCLK<8>" LOC="J23" | IOSTANDARD = LVCMOS25;
NET "SCLK<8>" LOC="K22" | IOSTANDARD = LVCMOS25;  
NET "SIN<8>" LOC="K23" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<8>" LOC="L20" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<8>" LOC="L22" | IOSTANDARD = LVCMOS25; 
NET "WR<44>" LOC="M17" | IOSTANDARD = LVCMOS25; 
NET "WR<43>" LOC="N16" | IOSTANDARD = LVCMOS25; 
NET "WR<42>" LOC="M21" | IOSTANDARD = LVCMOS25; 
NET "WR<41>" LOC="L19" | IOSTANDARD = LVCMOS25; 
NET "WR<40>" LOC="K21" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<7>" LOC="J26" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<7>" LOC="J25" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<7>" LOC="G26" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<7>" LOC="H26" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<7>" LOC="H24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<7>" LOC="J24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<7>" LOC="F25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<7>" LOC="G25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<7>" LOC="J21" | IOSTANDARD = LVCMOS25; 
NET "PCLK<7>" LOC="G22" | IOSTANDARD = LVCMOS25;
NET "SCLK<7>" LOC="F22" | IOSTANDARD = LVCMOS25;  
NET "SIN<7>" LOC="C23" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<7>" LOC="H23" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<7>" LOC="K20" | IOSTANDARD = LVCMOS25; 
NET "WR<39>" LOC="H22" | IOSTANDARD = LVCMOS25; 
NET "WR<38>" LOC="D24" | IOSTANDARD = LVCMOS25; 
NET "WR<37>" LOC="C24" | IOSTANDARD = LVCMOS25; 
NET "WR<36>" LOC="B24" | IOSTANDARD = LVCMOS25; 
NET "WR<35>" LOC="D23" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<6>" LOC="F24" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<6>" LOC="G24" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<6>" LOC="D26" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<6>" LOC="E26" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<6>" LOC="E23" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<6>" LOC="F23" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<6>" LOC="D25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<6>" LOC="E25" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<6>" LOC="E22" | IOSTANDARD = LVCMOS25; 
NET "PCLK<6>" LOC="J19" | IOSTANDARD = LVCMOS25;
NET "SCLK<6>" LOC="G20" | IOSTANDARD = LVCMOS25;  
NET "SIN<6>" LOC="J20" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<6>" LOC="G21" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<6>" LOC="C22" | IOSTANDARD = LVCMOS25; 
NET "WR<34>" LOC="H21" | IOSTANDARD = LVCMOS25; 
NET "WR<33>" LOC="D21" | IOSTANDARD = LVCMOS25; 
NET "WR<32>" LOC="E21" | IOSTANDARD = LVCMOS25; 
NET "WR<31>" LOC="M16" | IOSTANDARD = LVCMOS25; 
NET "WR<30>" LOC="K18" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<5>" LOC="A25" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<5>" LOC="B25" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<5>" LOC="A22" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<5>" LOC="B22" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<5>" LOC="A24" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<5>" LOC="A23" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<5>" LOC="B21" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<5>" LOC="C21" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<5>" LOC="J18" | IOSTANDARD = LVCMOS25; 
NET "PCLK<5>" LOC="H16" | IOSTANDARD = LVCMOS25;
NET "SCLK<5>" LOC="G17" | IOSTANDARD = LVCMOS25;  
NET "SIN<5>" LOC="J16" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<5>" LOC="D18" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<5>" LOC="H19" | IOSTANDARD = LVCMOS25; 
NET "WR<29>" LOC="H18" | IOSTANDARD = LVCMOS25; 
NET "WR<28>" LOC="K17" | IOSTANDARD = LVCMOS25; 
NET "WR<27>" LOC="F17" | IOSTANDARD = LVCMOS25; 
NET "WR<26>" LOC="E17" | IOSTANDARD = LVCMOS25; 
NET "WR<25>" LOC="K16" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<4>" LOC="C19" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<4>" LOC="D19" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<4>" LOC="B17" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<4>" LOC="C17" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<4>" LOC="A19" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<4>" LOC="B19" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<4>" LOC="A18" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<4>" LOC="A17" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<4>" LOC="G16" | IOSTANDARD = LVCMOS25; 
NET "PCLK<4>" LOC="H14" | IOSTANDARD = LVCMOS25;
NET "SCLK<4>" LOC="J14" | IOSTANDARD = LVCMOS25;  
NET "SIN<4>" LOC="D16" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<4>" LOC="K15" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<4>" LOC="E16" | IOSTANDARD = LVCMOS25; 
NET "WR<24>" LOC="J15" | IOSTANDARD = LVCMOS25; 
NET "WR<23>" LOC="H15" | IOSTANDARD = LVCMOS25; 
NET "WR<22>" LOC="G15" | IOSTANDARD = LVCMOS25; 
NET "WR<21>" LOC="F15" | IOSTANDARD = LVCMOS25; 
NET "WR<20>" LOC="M14" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<3>" LOC="A4" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<3>" LOC="B4" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<3>" LOC="B2" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<3>" LOC="C2" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<3>" LOC="C3" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<3>" LOC="D3" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<3>" LOC="B1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<3>" LOC="C1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<3>" LOC="F8" | IOSTANDARD = LVCMOS25; 
NET "PCLK<3>" LOC="G6" | IOSTANDARD = LVCMOS25;
NET "SCLK<3>" LOC="F5" | IOSTANDARD = LVCMOS25;  
NET "SIN<3>" LOC="E5" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<3>" LOC="D6" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<3>" LOC="E6" | IOSTANDARD = LVCMOS25; 
NET "WR<19>" LOC="D5" | IOSTANDARD = LVCMOS25; 
NET "WR<18>" LOC="C4" | IOSTANDARD = LVCMOS25; 
NET "WR<17>" LOC="A3" | IOSTANDARD = LVCMOS25; 
NET "WR<16>" LOC="A2" | IOSTANDARD = LVCMOS25; 
NET "WR<15>" LOC="D4" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<2>" LOC="F3" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<2>" LOC="E3" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<2>" LOC="G1" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<2>" LOC="G2" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<2>" LOC="F2" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<2>" LOC="E2" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<2>" LOC="H1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<2>" LOC="H2" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<2>" LOC="H7" | IOSTANDARD = LVCMOS25; 
NET "PCLK<2>" LOC="K8" | IOSTANDARD = LVCMOS25;
NET "SCLK<2>" LOC="J3" | IOSTANDARD = LVCMOS25;  
NET "SIN<2>" LOC="J4" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<2>" LOC="H6" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<2>" LOC="B5" | IOSTANDARD = LVCMOS25; 
NET "WR<14>" LOC="H4" | IOSTANDARD = LVCMOS25; 
NET "WR<13>" LOC="H3" | IOSTANDARD = LVCMOS25; 
NET "WR<12>" LOC="J8" | IOSTANDARD = LVCMOS25; 
NET "WR<11>" LOC="J6" | IOSTANDARD = LVCMOS25; 
NET "WR<10>" LOC="J5" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<1>" LOC="K1" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<1>" LOC="J1" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<1>" LOC="M2" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<1>" LOC="L2" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<1>" LOC="K2" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<1>" LOC="L3" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<1>" LOC="M1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<1>" LOC="N1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<1>" LOC="N2" | IOSTANDARD = LVCMOS25; 
NET "PCLK<1>" LOC="N6" | IOSTANDARD = LVCMOS25;
NET "SCLK<1>" LOC="N7" | IOSTANDARD = LVCMOS25;  
NET "SIN<1>" LOC="N8" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<1>" LOC="L5" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<1>" LOC="L7" | IOSTANDARD = LVCMOS25; 
NET "WR<9>" LOC="L4" | IOSTANDARD = LVCMOS25; 
NET "WR<8>" LOC="M7" | IOSTANDARD = LVCMOS25; 
NET "WR<7>" LOC="M6" | IOSTANDARD = LVCMOS25; 
NET "WR<6>" LOC="M5" | IOSTANDARD = LVCMOS25; 
NET "WR<5>" LOC="M4" | IOSTANDARD = LVCMOS25; 

NET "WCLK_N<0>" LOC="R1" | IOSTANDARD = LVDS_25 ;
NET "WCLK_P<0>" LOC="P1" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_N<0>" LOC="T2" | IOSTANDARD = LVDS_25 ;
NET "SRCLK_P<0>" LOC="R2" | IOSTANDARD = LVDS_25 ;
NET "DOE_LVDS_N<0>" LOC="T3" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "DOE_LVDS_P<0>" LOC="T4" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_N<0>" LOC="U1" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "MONTIMING_P<0>" LOC="U2" | IOSTANDARD = LVDS_25 | diff_term=true;
NET "RAMP<0>" LOC="P6" | IOSTANDARD = LVCMOS25; 
NET "PCLK<0>" LOC="U6" | IOSTANDARD = LVCMOS25;
NET "SCLK<0>" LOC="T5" | IOSTANDARD = LVCMOS25;  
NET "SIN<0>" LOC="T7" | IOSTANDARD = LVCMOS25; 
NET "SS_INCR<0>" LOC="P4" | IOSTANDARD = LVCMOS25; 
NET "REGCLR<0>" LOC="P5" | IOSTANDARD = LVCMOS25; 
NET "WR<4>" LOC="R8" | IOSTANDARD = LVCMOS25; 
NET "WR<3>" LOC="R7" | IOSTANDARD = LVCMOS25; 
NET "WR<2>" LOC="R6" | IOSTANDARD = LVCMOS25; 
NET "WR<1>" LOC="R5" | IOSTANDARD = LVCMOS25; 
NET "WR<0>" LOC="T8" | IOSTANDARD = LVCMOS25; 

#NET "u_lab4/load_internal_done" TIG;
#
##LM: these are for wb-to-sys clock crossing to avoid hold violation- all
## these signals should be up for long enough in the common operation
#NET "u_lab4/general_control_value<*>" TIG;
#NET "u_lab4/DAC_address<*>" TIG;
#NET "u_lab4/DAC_value<*>" TIG;
#NET "u_lab4/LAB4_choice<*>" TIG;
#NET "u_lab4/do_OTHER_command" TIG;
#NET "u_lab4/common_command_OTHERS<*>" TIG;
#NET "u_lab4/LAB4_choice<*>" TIG;
#NET "u_lab4/REBOOT_address<*>" TIG;
#NET "u_lab4/SPI_N_words<*>" TIG;
#NET "u_lab4/data_bank_0" TIG;
#NET "u_lab4/desired_bank<*>" TIG;
#
#NET "u_surf4_id_ctrl/reset_reg*" TNM_NET = "TN_ICE40_RESET";
#TIMESPEC TS_reset_false_path = FROM "TN_ICE40_RESET" TIG;